
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("../imag/Variedades\ yair\ \(2\).png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper {
	width: 420px;
	background: transparent;
	color: #ffffff;
	border-radius: 10px;
	padding: 30px 40px;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
}

.input-box {
	position: relative;
	margin: 30px 0;
	width: 100%;
	height: 50px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(254, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #ffffff;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: rgba(250, 247, 247, 0.7);
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #ffffff;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
	align-items: center;
}

.remember-forgot label input {
	accent-color: white;
	margin-right: 8px;
}

.remember-forgot a {
	color: #ffffff;
	text-decoration: none;
}

.wrapper .btn {
	width: 100%;
	height: 45px;
	background: #ffffff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	color: #333333;
	font-weight: 600;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
}
